// Features
div#features-wrapper
  div#features
    div.5grid-layout
      div.row
        div.3u
          section
            a.bordered-feature-image(href='#')
              img(src='images/pic01.jpg', alt='')
            h2 Colombia y el emprendimiento digital
            :markdown
              El Ministerio de Tecnologías de la Información y las Comunicaciones 
              (Mintic) impulsa una cultura de emprendimiento virtual, a través de 
              su programa Vive Digital. El desarrollo de software y aplicaciones 
              para teléfonos inteligentes, juegos de video, publicidad y animaciones 
              digitales, hacen parte de los focos de interés de este organismo.
              [Fuente: El espectador](http://bit.ly/R2sJSv)

        div.3u
          section
            a.bordered-feature-image(href='#')
              img(src='images/pic02.jpg', alt='')
            h2 Desarrolladores de software
            :markdown
              This is a **Halcyonic** a free template that can
              include [links](http://www.google.com)
              so this kick _ass_ [badly](http://david.roncancio.me)

        div.3u
          section
            a.bordered-feature-image(href='#')
              img(src='images/pic03.jpg', alt='')
            h2 Continua Demanda
            :markdown
              Los desarrolladores recien graduados en ciudades como Boston, NY o San Francisco
              tienen salarios que empiezan desde los $75,000 dolares al año, y aquellos con mas experiencia
              estan ganando alrededor de $140,000 dolares en el mismo periodo, y los salarios en esta industria
              siguen aumentando en ese pais, casi en un 15 porciento en el año pasado
              [Fuente: Boston Globe](http://b.globe.com/12wmyIR)


        div.3u
          section
            a.bordered-feature-image(href='#')
              img(src='images/pic04.jpg', alt='')
            h2 Welcome to Halcyonic
            :markdown
              This is a **Halcyonic** a free template that can
              include [links](http://www.google.com)
              so this kick _ass_ [badly](http://david.roncancio.me)