// Footer
div#footer-wrapper
  footer#footer.5grid-layout
    div.row
      div.8u
        section
          h2 Links to important stuff
          div.5grid
            div.row
              div.3u
                ul.link-list.last-child
                  li
                    a(href='#') some url
                  li
                    a(href='#') some url
                  li
                    a(href='#') some url
                  li
                    a(href='#') some url
              div.3u
                ul.link-list.last-child
                  li
                    a(href='#') some url
                  li
                    a(href='#') some url
                  li
                    a(href='#') some url
                  li
                    a(href='#') some url
              div.3u
                ul.link-list.last-child
                  li
                    a(href='#') some url
                  li
                    a(href='#') some url
                  li
                    a(href='#') some url
                  li
                    a(href='#') some url
      div.4u
        section
          h2 an informative text
          :markdown
            Duis neque nisi, dapibus sed mattis quis, rutrum accumsan sed. Suspendisse eu
            varius nibh. Suspendisse vitae magna eget odio amet mollis. Duis neque nisi,
            dapibus sed mattis quis, sed rutrum accumsan sed. Suspendisse eu varius nibh
            lorem ipsum amet dolor sit amet lorem ipsum consequat gravida justo mollis.